/*---------------------------Chatbot.jsx----------------------------------*/
.app-light-bg {
  background: linear-gradient(239.26deg, #ddeeed 63.17%, #fdf1e0 94.92%);
}
.app-dark-bg {
  background: #131921;
}
.container {
  padding-left: 25%;
  padding-right: 25%;
}
.msg-width {
  max-width: 45%;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.bot-image {
  width: 60px;
  max-width: 93px;
  max-height: 93px;
}
.form-box {
  width: 100%;
  position: sticky;
  bottom: 0.5rem;
}
.chatbot-form-container {
  width: 100%;
}
.theme-box {
  padding: 5px;
  font-size: 20px;
  background: #fff;
  border-radius: 20px;
}
/*------------------------------------------------------------------*/

/*--------------------Login.jsx-------------------------------------*/
.form-container {
  background-color: #fff;
  height: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5%;
}

/*------------------------------------------------------------------*/

/*------------------Typing.jsx--------------------------------------*/

.typing-indicator {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px;
  border-radius: 15px;
}
.light {
  color: #232f3e !important;
  background-color: #fff !important;
}
.dark {
  color: #fff !important;
  background-color: #232f3e !important;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #343a40;
  border-radius: 50%;
  margin: 0 3px;
  animation: typing 0.5s infinite alternate;
  animation-delay: 0.1s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes typing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

/*------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .form-box {
    width: 100%;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .msg-width {
    max-width: 60%;
    word-wrap: break-word;
  }
}
