/*---------------------------Chatbot.jsx----------------------------------*/
.app-light-bg {
  background: linear-gradient(239.26deg, #ddeeed 63.17%, #fdf1e0 94.92%);
}
.app-dark-bg {
  background: #131921;
}
.container {
  padding-left: 25%;
  padding-right: 25%;
}
.msg-width {
  max-width: 45%;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.bot-image {
  width: 60px;
  max-width: 93px;
  max-height: 93px;
}
.form-box {
  width: 100%;
  position: sticky;
  bottom: 0.5rem;
}
.chatbot-form-container {
  width: 100%;
}
.theme-box {
  padding: 5px;
  font-size: 20px;
  background: #fff;
  border-radius: 20px;
}
/*------------------------------------------------------------------*/

/*--------------------Login.jsx-------------------------------------*/
.form-container {
  background-color: #fff;
  height: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5%;
}

/*------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .form-box {
    width: 100%;
  }
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .msg-width {
    max-width: 60%;
    word-wrap: break-word;
  }
}
